@import "../variables/_text.modules";

.my-image-wrap {
  $mask-padding: 0.5rem;
  $mask-bg: rgba(black, 0.5);

  position: relative;

  .mask {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    &-names {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: $mask-padding;
      padding-left: 1rem;
      background-color: $mask-bg;
      @include text-ellipsis;

      .title {
        margin-bottom: 5px;
      }
    }

    &-duration {
      position: absolute;
      top: 0;
      margin: $mask-padding;
      padding: 3px 5px;
      border-radius: 10%;
      background-color: $mask-bg;
    }
  }
}
